
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
}
.container{
    max-width: 1084px;
    margin: 0 auto;
    position: relative;
} 
.card{
    display: inline-block;
    width: 30%;
    padding: 15px;
}
img{
    max-width: 100%;
}
.img1{
    position: absolute;
    top: 0;
    left: 0;
}

.hover:hover{
    display: none;
}
.heart{
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 30px;
    right: 0;
}
.card-info{
    position: absolute;
    top: 490px;
}
.sale{
    background-color: red;
    color: white;
}
.sale, .comm{
    font-size: 10px;
    color: white;
    padding: 4px;
   
}
.comm{
    background-color: green;
    color: white;
}
.LP{
   color: red; 
}
.HP{
   text-decoration: line-through;
}